<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF8" />

    <title>{{title}}</title>

    {{#each files.css}}
    <link rel="stylesheet" href="{{publicPath}}{{this.fileName}}" />
    {{/each}}
</head>

<body>
    <div id="react-mountpoint" />

    {{#each files.js}}
    <script src="{{publicPath}}{{this.fileName}}"></script>
    {{/each}}
</body>

</html>
